<div class="col-md-12 col-md-offset-2">
  <div class="text-center">
    <h1>Events-Todos-Journal</h1>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Please indicate what you need to do" data-role="tagsinput" class="form-control" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()"/>
  </div>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</div>